{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <p class="text-center">Modulo de Reservas</p>
            <ul class=" media-list " role="menu">
                <li >
                    <a class="btn-success btn-menu btn center-block" href="{% url 'polireserva:misreservas'%}">Mis reservas</a>
                </li>
                 <li >
                    <a class="btn-success btn-menu btn center-block" href="{% url 'polireserva:newreserva'%}">Nueva reserva</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}