{% extends 'base.html' %}
{% load permission_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <p class="text-center">Modulo de Administracion</p>
            <ul class=" media-list " role="menu">

                {% if user|can:'can_list_usuarios' %}
                    <li >
                        <a class="btn-success btn-menu btn center-block" href="{% url 'polireserva:userlist'%}">Administracion de Usuarios</a>
                    </li>
                {% endif %}

                {% if user|can:'can_list_tdr' %}
                    <li >
                        <a class="btn-success btn-menu btn center-block" href="{% url 'polireserva:tdrlist'%}">Administracion de Recursos</a>
                    </li>
                {% endif %}

                {% if user|can:'can_list_reserva' %}
                    <li >
                        <a class="btn-success btn-menu btn center-block" href="{% url 'polireserva:reservalist'%}">Administracion de Reservas</a>
                    </li>
                {% endif %}

            </ul>
            <a class="btn btn-success btn-sm" href="../">Atras</a>
        </div>
    </div>
</div>
{% endblock %}