appdirs==1.4.3
boto==2.40.0
chardet==2.3.0
core-python==4.8
core-python-netns==1.0
corens3-python==4.8
cryptography==1.7.1
Django==1.11.23
django-chartjs==1.2
django-datetime-widget==0.9.3
django-discover-runner==1.0
django-role-permissions==2.0.1
django-user-roles==0.1.0
docutils==0.13.1
duplicity==0.7.6
enum34==1.1.6
epydoc==3.0.1
gyp==0.1
idna==2.2
ipaddress==1.0.17
keyring==10.3.1
keyrings.alt==2.2
lockfile==0.12.2
ndg-httpsclient==0.4.2
olefile==0.44
packaging==16.8
Pillow==4.0.0
psycopg2==2.7.1
pyasn1==0.1.9
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.22.0
pyOpenSSL==16.2.0
pyparsing==2.2.0
python-cloudfiles==1.7.10
pytz==2017.2
pyxdg==0.25
requests==2.13.0
roman==2.0.0
SecretStorage==2.3.1
six==1.10.0
sqlparse==0.2.2
urllib3==1.15.1
virtualenv==15.1.0
