{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Reserva de {{reserva.user.first_name}} {{reserva.user.last_name}}</h2>
            <h4>ID: {{reserva.id_R}}</h4>
            <br/>
            <h4>Desde: {{reserva.date_i.time}}</h4>
            <h4>Hasta: {{reserva.date_f.time}}</h4>
            <h4>Hora de devolucion: {{ date }}</h4>
            <br/>
                    <h3><u>Recurso Reservado</u></h3>
            <ul style="list-style-type:disc">
                    <li ><h4>Nombre: {{reserva.recursos.name_r}}</h4></li>
                    <li ><h4>Tipo de Recurso: {{reserva.recursos.id_tdr}}</h4></li>
                    <li ><h4>Descripcion: {{reserva.recursos.description}}</h4></li>

            </ul>
        <br/>
            <h4>Observaciones: {{reserva.obs}}</h4>
            <form action="." method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                     <button class="btn btn-success btn-sm" type="submit">Devolver</button>
                    <a class="btn btn-success btn-sm" href="../../">Atras</a>
            </form>
        <br/>
        </div>
    </div>
</div>
{% endblock %}