{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row ">
        <div class="jumbotron">
            <h2>Agregar Roles</h2>
            <p class="text-center">Roles:</p>
            <ul class=" media-list " role="menu">
                                            <li >
                                                <a class="btn-success btn-menu btn  center-block" href="{% url 'polireserva:rolesassignation' user.id 1 %}">Aministrador</a>
                                            </li>
                                            <li>
                                                <a class="btn-success btn-menu btn center-block" href="{% url 'polireserva:rolesassignation' user.id 2 %}">Usuario</a>
                                            </li>
                                             <li>
                                                <a class="btn-success btn-menu btn center-block" href="{% url 'polireserva:rolesassignation' user.id 3 %}">Recepcionista</a>
                                            </li>
                                             <li>
                                                <a class="btn-success btn-menu btn center-block" href="{% url 'polireserva:rolesassignation' user.id 4 %}">Tecnico</a>
                                            </li>
                                             <li>
                                                <a class="btn-success btn-menu btn center-block" href="{% url 'polireserva:rolesassignation' user.id 5 %}">Invitado</a>
                                            </li>
                                        </ul>
        </div>
    </div>
</div>
{% endblock %}