{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Bienvienido</h1>
            <p>Menu</p>
            <ul class="media-list " role="menu">
                                            <li>
                                                <a class=" btn list-group-item" href="#">Administrar Reservas</a>
                                            </li>
                                            <li>
                                                <a class=" btn list-group-item" href="#">Administrar Usuarios</a>
                                            </li>
                                            <li>
                                                <a class="btn list-group-item" href="#">Administrar Recursos</a>
                                            </li>
                                            <li>
                                                <a class="btn list-group-item" href="/logout">Salir</a>
                                            </li>
                                        </ul>
        </div>
    </div>
</div>
{% endblock %}