{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class=" panel panel-default">
                <div class="panel-heading">
            <h2>{{ titulo }}</h2>
            <div class="panel-body" >
                {% if reservaflag %}
                    <p>Reserva creada exitosamente</p>
                    <a class="btn btn-success btn-sm" href="../reservas">Atras</a>
                {% else %}
                    <p><h4>Usuario:</h4> {{ request.user.first_name }} {{ request.user.last_name }} </p>
                <form method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                     <button class="btn btn-success btn-sm" type="submit">{{ accion }}</button>
                    <a class="btn btn-success btn-sm" href="../">Atras</a>

                </form>
                {% endif %}

             </div>
                </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}