{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Reserva de {{reserva.user.first_name}}, {{reserva.user.last_name}}</h2>
            <h4>ID: {{reserva.id_R}}</h4>
            <h4>Fecha de inicio: {{reserva.date_i}}</h4>
            <h4>Fecha de fin: {{reserva.date_f}}</h4>
<br/>
                    <h2>Lista de Recursos</h2>
            <ul class=" media-list " role="menu">
                 {% if reserva.recursos.all %}
                    {% for recursos in reserva.recursos.all %}
                    <li ><a class="btn-success btn-menu btn  center-block" href="#">Item: {{recursos.name_r}}   &nbsp&nbsp&nbsp  Descripcion: {{ recursos.description }}</a></li>
                    {% endfor %}
                 {% else %}
                    <h4>No existen Recursos registrados con esta Reserva en el sistema.</h4>
                 {% endif %}
            </ul>
           <a class="btn btn-success btn-sm" href="../">Atras</a>
            <a class="btn btn-success btn-sm" href="#">Modificar reserva</a>

        </div>
    </div>
</div>
{% endblock %}