{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Tipo de Recurso: {{tdr.description}}</h2>
            <h4>ID: {{tdr.id_tdr}}</h4>
            <ul class=" media-list " role="menu">
                 {% if tdr.recurso_set.all %}
                    {% for recurso in tdr.recurso_set.all %}
                    <li ><a class="btn-success btn-menu btn  center-block" href="#">{{recurso.name_r}}</a></li>
                    {% endfor %}
                 {% else %}
                    <h4>No existen Recursos registrados con ese Tipo de Recurso en el sistema.</h4>
                 {% endif %}
            </ul>
           <a class="btn btn-success btn-sm" href="../">Atras</a>
            <a class="btn btn-success btn-sm" href="{% url 'polireserva:recursofill' tdr.id_tdr %}" >Agregar recurso</a>

        </div>
    </div>
</div>
{% endblock %}