{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Tipo de Recurso: {{tdr.description}}</h2>
            <h4>ID: {{tdr.id_tdr}}</h4>
            <ul class=" media-list " role="menu">
                 {% if all_recursos %}
                       <table class="" style="width: 100%">
                         {% for recurso in all_recursos %}
                            <tr>
                                <th style="width: 90%" ><a class="btn-success btn-menu btn btn-block" href="#">{{recurso.name_r}}</a></th>
                                <th><a class="btn btn-danger btn-block " href="{% url 'polireserva:deleterecurso' tdr.id_tdr recurso.id_r %}">Eliminar</a></th>
                            </tr>
                         {% endfor %}
                      </table>
                 {% else %}
                    <h4>No existen Recursos registrados con ese Tipo de Recurso en el sistema.</h4>
                 {% endif %}
            </ul>
           <a class="btn btn-success btn-sm" href="../../">Atras</a>
            <a class="btn btn-success btn-sm" href="{% url 'polireserva:recursofill' tdr.id_tdr %}" >Agregar recurso</a>

        </div>
    </div>
</div>
{% endblock %}