{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h2>Tipos de Recursos</h2>
             <ul class=" media-list " role="menu">
                 {% if all_tdr %}
                    {% for tdr in all_tdr %}
                    <li ><a class="btn-success btn-menu btn  center-block" href="{% url 'polireserva:tdrdetail' tdr.id_tdr %}">{{tdr.description}}</a></li>
                    {% endfor %}
                 {% else %}
                    <h4>No existen Tipos de Recursos registrados en el sistema.</h4>
                 {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}