{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h2>Tipos de Recursos</h2>
                <ul class=" media-list " role="menu">
                    {% if all_tdr %}
                        <table class="" style="width: 100%">
                            {% for tdr in all_tdr %}

                                <tr>
                                    <th style="width: 90%"><a class="btn btn-menu btn-success btn-block"
                                       href="{% url 'polireserva:tdrdetail' tdr.id_tdr %}">{{ tdr.description }}</a></th>
                                    <th><a class="btn btn-danger btn-block " href="{% url 'polireserva:deletetdr' tdr.id_tdr %}">Eliminar</a></th>
                                </tr>
                            {% endfor %}

                        </table>
                    {% else %}
                        <h4>No existen Tipos de Recursos registrados en el sistema.</h4>
                    {% endif %}
                </ul>
                <a class="btn btn-success btn-sm" href="../">Atras</a>
                <a class="btn btn-success btn-sm" href="{% url 'polireserva:tdrfill' %}">Agregar tipo de recurso</a>
                <a class="btn btn-success btn-sm" href="{% url 'polireserva:recursosreport' %}" >Generar Reporte</a>
            </div>
        </div>
    </div>
{% endblock %}